/* 캘린더 스타일 */
#calendar {
    width: 80%;
    margin: 0 auto;
}

/* 일정 추가 버튼을 오른쪽 상단에 고정 */
#addEventBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Planner Container */
#planner-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

#current-date {
    font-size: 1.2em;
    font-weight: bold;
}

/* Planner Content */
#planner-content {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    padding-top: 20px;
    border-top: 2px solid black;
}

/* 목표 설정 섹션 */
#goal-setting {
    padding-right: 20px;
}

#goal-setting h3 {
    margin-bottom: 10px;
}

#goal-setting div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#goal-setting input[type="text"] {
    width: 70%;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

/* 타임스탬프 섹션 */
#timestamp-grid {
    grid-column: 2;
}

#timestamp-table {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
    width: 100%;
    border: 1px solid #000;
}

.timestamp-cell {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
}

.timestamp-cell:hover {
    background-color: #e0e0e0;
}

/* 색상 팔레트 섹션 */
#color-palette {
    grid-column: 2;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

#color-palette h3 {
    margin-right: 10px;
}

#colorPicker {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 0.5px solid #000;
}


/* 피드백 섹션 */
#feedback {
    grid-column: 1 / -1;
    margin-top: 10px;
    padding-top: 10px;
}

#feedback textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 800px;
    box-sizing: border-box;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
